body {

    background-color: #bdbdbd;
}

.divEmployees {

    background-color: gray;

}

.allItems {

    display: flex;
    justify-content: center;

}

.divTotal {

    background-color: white;
    display: flex;
    gap: 1em;
    height: 10%;
    padding: 10px;
    border-radius: 10px;
    margin-top: 3em;
    background-color: #030816;
}

.titleTotal {

    color: white;

}

.tableLocation {

    margin-top: 3em;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
    border-bottom: 1px solid black;
}

.titleMonthly {

    border-bottom: 1px solid black;

}

.onTimeResult {

    color: white;
    background-color: orange;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    font-weight: 900;

}

.lateResult {

    color: white;
    background-color: red;
    padding: 5px;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    font-weight: 900;

}