.titleStyle {

    font-size: 30px;

}

body {

    background-color: #bdbdbd;
    

}

.imgStyle {

    width: 20px;
}

.idStyle {

    display: none;

}

.buttonStyle {

    display: flex;
    gap: 1em;

}

.containerItems {

    background-color: white;
    box-shadow: 0px 0px 2px 0px black;
    padding: 10px;
    border-radius: 10px;

}



/* form  */

.divAll {

    z-index: -1 !important;
}

.buttonClose {

    background-color: #bdbdbd !important;
    display: flex;
    gap: 0.3em;
    z-index: 60 !important;

}

.buttonClose:hover {

    background-color: #8b8a8a !important;

}


.formStyle {

    transition: 1s;
    display: flex;
    opacity: 1;
    justify-content: center;
    

}

.divForm {

    background-color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 3em;

}

.inputStyle {

    width: 400px;

}

.divButton {

    display: flex;
    justify-content: space-between;

}
